body{
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0, 0, 0);
}

#calculator{
    background-color: rgb(79, 55, 127);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgb(25, 24, 24);
    max-width: 360px;
}

#display{
    width: 100%;
    height: 70px;
    font-size: 45px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(79, 55, 127);
    box-sizing: border-box;
    border: none;
}

.operator{
    color: rgb(255, 136, 0);
}

#ac{
    color: red;
}

#de, #ac{
    width: calc(37.5% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: calc(25% - 10px);
    height: 55px;
    font-size: 25px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(102, 72, 162);
    color: white;
    box-shadow: 0 3px 5px rgb(0, 0, 0.19);
}

button:hover{
    cursor: pointer;
    background-color: rgb(119, 84, 188);
}

button:active{
    background-color: rgb(79, 55, 127);
}